body {
    background-image: url('../img/fond.jpg');
}

.note {
    background-color: lemonchiffon;
    border: 1px solid darkgray;
    box-shadow: 5px 5px 15px black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    min-width: 150px;
}

#notes-container .note {
    max-width: 350px;
}

#notes-container {
    background-color: rgba(255, 200, 255, .6);
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    max-height: 70vh;
    overflow-y: auto;
    border: 1px solid darkgray;
    box-shadow: 10px 10px 15px black;
    border-radius: 5px;
}

#notes-container>* {
    display: inline-block;
    margin-right: 10px;
}

#notes-container .note-user {
    font-size: 10px;
    display: inline-block;
}

#notes-container .note-user img {
    max-width: 64px;
    max-height: 64px;
    size: auto;
}

#notes-container .note-titre {
    font-weight: 600;
    text-align: center;
    max-width: 80%;
    margin-bottom: 10px;
    padding-left: 15px;
}

.note-right {
    display: inline-block;
    vertical-align: top;
}

#is-js-loading {
    background-color: red;
    text-align: center;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}


/* Css formulaire */

#form-button {
    text-align: center;
}

#input-date,
#input-time {
    display: inline;
    width: 45%;
}

#input-description {
    vertical-align: top;
}

#edit-note,
#edit-note textarea {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#edit-note textarea {
    max-width: 100%;
}

.invalid-input {
    background-color: red;
}

.img-close img {
    width: 15px;
    height: 15px;
}

.img-close {
    text-align: right;
    margin-bottom: -10px;
}

.note-right {
    /* pour le problème de l'evt sur btn fermer*/
    margin-right: 15px;
}

#toggle-form-edit-note {
    text-align: right;
    margin-bottom: -15px;
}

#toggle-form-edit-note img {
    width: 18px;
    height: 18px;
}

#edit-note #form-legend {
    margin-right: 20px;
}

legend img {
    width: 18px;
    height: 18px;
}


/* css map*/

#left-form,
#right-form {
    display: inline-block;
}

#right-form {
    width: 200px;
    vertical-align: top;
    /*display: block;*/
    border-left: 1px solid lightgrey;
    padding-left: 10px;
}